In [2]:
import numpy as np
import pandas as pd
student_data = [
 [100, 90, 10],
 [90, 70, 7],
 [120, 100, 14],
 [80, 50, 2]
]

pd.DataFrame(student_data, columns=['iq','marks','package'])

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2